h1 {
    color: orange;
}

/* p {
    background-color: tomato;
    color: white;
} */

/* Чистий червоний колір: 255 червоний, 0 зелений, 0 синій */
/* p {
    color: rgb(255, 0, 0);
} */

/* Або відсотками від 0% до 100%. */
/* p {
    color: rgb(100%, 0%, 0%);
} */



/* Чистий червоний колір: ff (100%) червогого, 00 (0%) зеленого, 00 (0%) синього */
/* p {
  color: #ff0000;
} */

/* Чистий зелений колір: 00 (0%) червогого, ff (100%) зеленого, 00 (0%) синього */
/* p {
  color: #00ff00;
} */

/* Чистий синій колір: 00 (0%) червогого, 00 (0%) зеленого, ff (100%) синього */
/* p {
  color: #0000ff;
} */




/* Чистий червоний колір із прозорістю 30% */
/* p {
  background-color: rgba(255, 0, 0, 0.3);
} */


/* Чистий червоний колір із прозорістю 30% */
/* p {
  background-color: rgba(100%, 0%, 0%, 30%);
} */

/* Селектор ідентифікатора (#X) */
#title {
  background-color: cyan;
}



/* Mango section - Селектор класу (.X) */ 
.title-mango {
  color: skyblue;
}

.text-mango {
  color: brown;
}

.link-mango {
  color: tomato; 
}




/* Застосовується до всіх посилань у документі */
/* a {
  color: tomato;
} */

/* Застосовується до посилань, які лежать усередині неупорядкованих списків */
/* ul a {
  color: tomato;
} */

/* Застосовується лише до посилань, що лежать усередині тега з класом social-links */
.social-links a {
  color: tomato;
}

p {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}
